<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcys69o5gCFjIguGqeAxQN6sQsisMIuxs</string>
	<key>GCM_SENDER_ID</key>
	<string>482417964544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceApp</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-84a82</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-84a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482417964544:ios:6da0df359d18530b9a4ae5</string>
</dict>
</plist>